.page-content{
    padding: 30px 0;
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
    margin-top: 50px;
}
ul{
    list-style: disc;
    padding-left: 20px;
    margin: 20px 0;
}