#tile-field {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 0.5em;
    width: 90%;
    margin: auto;
    overflow: hidden;
    max-width: 1250px;
}
#tile-architektur {
    grid-row: 1/3;
}
.tile{
    height: 100%;
    position: relative;
}
.tile-link {
    display: block;
    height: 100%;
}
.tile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
} 
.tile-label {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0;
    color: #999;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    transition: .3s;
}
.tile-link:hover .tile-label{
    background-color: #000;
    color: #fff;
}
@media (max-width:767px){
    #tile-field{
        display: flex;
        flex-direction: column;
        overflow:visible;
    }
    .tile-link {
        display: block;
        height: 70vw;
    }
}