.tile-field {
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, 49.6%);
    grid-template-columns: repeat(3, calc(33.33% - 7.33px));
    gap: 10px;
    height: calc(100% - 10px);
    width: 90%;
    max-width: 1250px;
    margin: auto;
    overflow: hidden;
    min-height: 400px;
}
.tile{
    height: 100%;
    position: relative;
}
.tile-link {
    display: block;
    position: relative;
    height: 100%;
    margin: 0;
    cursor: pointer;
    width: 100%;
}
.tile-link:hover .tile-label {
    display: block;
}
.tile-img-div {
    height: 100%;
}
.tile-img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
    width: 100%;
}
.tile-label {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.5em 0;
    margin: 0;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    font-weight: 100;
    color: #999;
    background-color: white;
}

 /* Detail View */

.detail-field {
    display: block;
    position: absolute;
    height: calc(100% + 5px);
    width: 100%;
    margin: auto;
    background-color: #fff;
}
.detail-tile{
    min-height: 100%;
}
.detail-link{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
    cursor: initial;
}
.detail-label{
    display: block;
    position: relative;
    margin: 1rem 2rem;
    text-align: left;
    font-size: 1.2em;
}
.tile-summary{
    font-weight: bold;
    margin: 0.5em 2rem;
}
.tile-info{
    margin: 0.5em 2rem;
}
.tile-txt{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.detail-field .tile-txt{
    height: calc(100% - 13vw);
    overflow-y: auto;
    overflow-x: hidden;
}
.detail-img-div{
    position: relative;
    width: 100%;
    /* grid-row: 1/3; */
    /* aspect-ratio: 3/2; */
}
.detail-img {
    width: 100%;
    object-fit: cover;
}
.img-rotation-btn {
    position: absolute;
    font-size: 10vh;
    top:50%;
    transform: translate(0, -50%);
    z-index: 1;
    color: #ffffffaa;
}
.img-rotation-btn:hover {
    cursor: pointer;
    color: #ffffffff;
}
.prev-img-btn{
    left: 1%;
}
.next-img-btn{
    right: 1%;
}
.tile-remaining-imgs {
    grid-row: 2/3;
    margin: 0 2rem;
    display: flex;
    position: absolute;
    width: 30%;
    left: 66.666%;
    /* height: 120%; */
    bottom: 5px;
    flex-flow: wrap;
}
.img-div {
    /* flex: 1 1 0; */
    min-width: 0;
    cursor: pointer;
    width: 33.33%;
    padding: 5px 2.5px 0;
    position: relative;
}
.img-div:hover::after,
.active.img-div::after{
    content: '';
    width: calc(100% - 5px);
    height: 4px;
    background-color: #000;
    position: absolute;
    display: block;
    left: 2.5px;
    bottom: 0;
}
.img-div.active img{
    filter: grayscale(0);
    width: 100%;
    object-fit: cover;
}
.tile-remaining-imgs {
    /* margin-left: -2.5px;
    margin-right: -2.5px;
    width: calc(100% + 5px); */
}
.tile-remaining-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.close-btn {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.close-btn:hover{
    color: #ddd;
    background-color: #000;
}
.close-btn i{
    margin-right: 5px;
}


.hidden {
    display: none;
}


@media (max-width:767px){
    .detail-link,
    .tile-field{
        display: flex;
        flex-direction: column;
    }
    .detail-img{
        height: auto;
    }
    .tile-remaining-imgs{
        position: static;
        margin-left: -2.5px;
    margin-right: -2.5px;
    width: calc(100% + 5px);
        height: auto;
        margin-top: 5px;
    }
    .detail-field{
        top: -5px;
        height: calc(100% + 10px);
        position: relative;
    }
    .tile-field {
        overflow: visible;
        min-height: auto;
        margin-bottom: 5px;
    }
    .tile-img-div{
        height: 65vw;
    }
    .tile-field.show>.tile{
        display: none;
    }
    .detail-field .tile-txt{
        height: auto !important;
    }
}